.list_table {
    flex: 1 0 auto;
}

.btn_row_edit,
.btn_row_del {
    padding: .35rem .5rem .25rem;
    border: 0;
    font-family: 'AG_L';
    color: #fff;
    cursor: pointer;
}

.btn_row_edit {
    background-color: #add35e;
}

.btn_row_del {
    background-color: #f5ce32;
}

[data-row-checkbox],
[data-row-number],
[data-row-type],
[data-row-duration],
[data-row-author],
[data-row-control] {
    text-align: center;
}

.col_checkbox {
    width: 5%;
}

[data-row-checkbox] {

}

.col_rownum {
    width: 5%;
}

[data-row-number] {

}

.col_rowtype {
    width: 10%;
}

[data-row-type] {

}

.col_duration {
    width: 20%;
}

[data-row-duration] {

}

.col_title {
    width: 40%;
}

[data-row-title] {
    max-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.col_author {
    width: 10%;
}

[data-row-author] {

}

.col_control {
    width: 10%;
}

[data-row-control] {

}

thead {
    border-bottom: 1px solid #dedede;

    th {
        padding-block: .5rem;
        box-shadow: 0 .15rem 0 rgba(0 0 0 / .05);
    }
}

tbody {
    tr {
        border-bottom: 1px solid #dedede;

        &:hover {
            background-color: #eee;
            font-weight: bold;
        }
    }

    td {
        padding-block: .75rem;
    }
}

tfoot {
    td {
        padding: 1rem;
    }
}

textarea {
    resize: none;
}

#pop_add {
    &:is([data-show="false"]) {
        display: none;
    }

    &:is([data-show="true"]) {
        display: initial;
    }
}

#addSurvey,
#addEvent {
    &:is([data-show="false"]) {
        display: none;
    }

    &:is([data-show="true"]) {
        display: initial;
    }
}

.form_elements {
    display: flex;
    flex-flow: column nowrap;
    width: max(30rem);

    > * + * {
        margin-top: 1rem;
    }
}

.column_protector {
    display: flex;
    flex-flow: row nowrap;
}

.btn_container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1rem;

    > button {
        flex: 1 0 auto;
        padding: .75rem;
        border: none;

        & + button {
            margin-left: .5rem;
        }
    }
}

#txtFileName {
    flex: 1 0 auto;
}

.btn_upload {
    margin-left: .5rem;
    padding-inline: .5rem;
    border: none;
}

input[type="date"] {
    flex: 1 0 auto;

    & + & {
        margin-left: .5rem;
    }
}

.questContainer {
    counter-set: questions;
    overflow-y: auto;
}

.question_card {
    counter-increment: questions;
}

.opt_container {
    counter-set: options;
}

.quest_opt {
    counter-increment: options;

    &::before {
        content: counter(options);
    }
}