@charset "utf-8";

@font-face {
  font-family: 'AG_L';
  src: url('../../font/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
  font-family: 'AG_B';
  src: url('../../font/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
  font-family: 'AG_H';
  src: url('../../font/AppleSDGothicNeoH.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  font-size: 16px;
  color: #6f6f6f;
  font-family: 'AG_L';

}

#wrap {}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom:1.2rem;
}

ul,
ol,
li {
  list-style-type: none
}

img,
fieldset {
  border: none;
  vertical-align: middle
}

hr {
  clear: both;
  border: none
}

a {
  color: inherit;
  text-decoration: none
}

table {
  border-collapse: collapse
}

input,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  outline: 0;
}


input[type="text"] {
  border: 0;
  border-bottom: 1px solid #444;
}

input::placeholder {
  color: #bbb;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border: 0.25rem solid transparent;
  border-radius: 0.4rem;
  background: #6d6464;
  background-clip: padding-box;
}





/* 좌측메뉴 */

#leftMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw;
  height: 100vh;
  background: #515763;
}

.logo {
  width: 100%;
  height: 16.5vh;
  /* background:#f8f8f8; */
  /* border:2px solid #515763 */
}

.menus {
  display: flex;
  flex-direction: column;
}

.menus li {
  padding: .7rem;
  cursor: pointer;
  border-top: 1px solid #3e4249;
  color: #444;
}

.menus li p {
  padding: .3rem 0 0 0;
  font-size: 1rem;
  color: #fff;
}

/* 우측 전체 */

#rightText {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 88vw;
  background: #ebeff2;
  overflow:scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textTop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding: 0 0 0 1rem;
  
}

.top_loginOut {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 6px 0;
}

.top_loginOut li:nth-child(1) {
  display: inherit;
  margin-right:.5rem;
  
}

.top_loginOut li:nth-child(1):after{
  content:'';
  display:inline-block;
  width:1px;
  height: 14px;
  background:#6f6f6f;
  margin-left: 0.5rem;
  margin-top: 1px;
}

.top_loginOut li:nth-child(2) {
  cursor: pointer;
}

.top_cls {
  display: flex;
  justify-content: right;
  margin-bottom:.5rem;
  width:100%;
}

.top_cls li:last-child{
  
}

.top_cls li select {
  padding: .3rem;
  outline: 0;
  margin-left:.5rem;
}

/* btnLine */

.btnLine button{
  padding: 0.5rem 2rem 0.4rem 2rem;
    font-size: 1.1rem;
    font-family: 'AG_L';
    BORDER: 0;
    background: #6d6464;
    color: #fff;
    cursor: pointer;
    margin-left: 0.5rem;
}


/* mainArea */

.mainArea ul.mainText{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  padding: 1rem 1.5rem;
  border: 2px solid #6d6464;
  background: #fff;
  height: 80vh;
  overflow: scroll;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  align-content: flex-start;
  margin-bottom:1rem;
}

.mainArea {
  padding: 0 0 0 1rem;
}


#btnBox {
  display: flex;
}

#btnBox button {
  padding:.5rem 2rem .4rem 2rem;
  font-size: 1.1rem;
  font-family: 'AG_L';
  BORDER: 0;
  background: #6d6464;
  color: #fff;
  cursor:pointer;
  margin-left:.5rem;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 23px;
  color: #6d6464;
  background: #f1f1f1;
  box-shadow: 2px 6px 13px 7px rgb(50 50 50 / 10%);

}

footer p{
  font-size:13px;
}