/* ---------- theme colors ---------- */
/* set concept color above (as HSL format) */
/* ---------- gray tones ---------- */
/* ---------- @mixin ---------- */
/* ---------- %placeholder ----------*/
/* ---------- whatever else ---------- */
/* ---------- @keyframes ---------- */
@-webkit-keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
/* common style */
/* ---------- basic ---------- */
body {
	color: #6f779f;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	border: 0.25rem solid transparent;
	border-radius: 0.4rem;
	background: #14141f;
	background-clip: padding-box;
}

/* ---------- basic ---------- */
/* ---------- header ---------- */
/* ---------- header ---------- */
/* ---------- main ---------- */
/* ---------- main ---------- */
/* ---------- footer ---------- */
/* ---------- footer ---------- */
/* ---------- repeating items ---------- */
/* ---------- repeating items ---------- */
/* ---------- media queries for global elements ---------- */