.mainArea_table {
    width: 100%;

    th {
        border: 1px solid #dedede;
        padding: 10px 8px;

        &:nth-child(1) {
            width: 5%;
        }

        &:nth-child(2) {
            width: 8%;
        }

        &:nth-child(3) {
            width: 10%;
        }

        &:nth-child(4) {
            width: 47%;
        }

        &:nth-child(5) {
            width: 15%;
        }

        &:nth-child(6) {
            width: 15%;
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid #dedede;
        }
    }

    td {
        text-align: center;
        padding: 20px 5px 0px;
        margin-bottom: 15px;
        vertical-align: baseline;

        &:nth-child(4) {
            width: 100%;
            text-align: left;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            cursor: pointer;
        }
    }
}


.page_box {
    padding: 1rem;
    margin: 0 auto;
}


div.btnLine {

    button {
        margin-left: 0;
    }

    .writing {
        margin-left: auto;
    }
}


#pop_add {

    display: none;

    .popText {
     
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        h3 {
            padding: 8px 0;
        }

        .choice {
            display: flex;
            align-items: center;
            margin: .3rem 0;


            &:is(select) {
                margin-top: .5rem;
                padding: 7px;
                outline: 0;
                border: 1px solid #dedede;
            }

            label {
                background: #8a8383;
                padding: 5px 10px;
                color: #fff;
                margin-right: .5rem;
                display: inline-block;
            }

            input[type=file] {
                position: absolute;
                width: 0;
                height: 0;
                padding: 0;
                overflow: hidden;
                border: 0;
            }
        }

        .edit {
            margin-top: .5rem;

        }

        .pop_btn button {
            margin-top: .5rem;
            padding: 15px 10px;
            background-color: #6d6464;
            color: #fff;
            outline: 0;
            border: 0;
            cursor: pointer;
            width: 49.5%;
            font-family: inherit;
            font-size: 16px;

            &.pop_close{
                background-color: #ededed;
                color: #6d6464;

            }
            
        }



    }
}


/*서머노트*/

#summernote {
    height: 350px;

}

.note-modal-backdrop {
    z-index: -1 !important;
}

.note-placeholder{
    display: none !important;
    
}