.mainArea_table {
    width: 100%;

    th {
        border: 1px solid #dedede;
        padding: 10px 8px;

        &:nth-child(1) {
            width: 5%;
        }

        &:nth-child(2) {
            width: 8%;
        }

        &:nth-child(3) {
            width: 10%;
        }

        &:nth-child(4) {
            width: 47%;
        }

        &:nth-child(5) {
            width: 15%;
        }

        &:nth-child(6) {
            width: 15%;
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid #dedede;
        }
    }

    td {
        text-align: center;
        padding: 20px 5px 0px;
        margin-bottom: 15px;
        vertical-align: baseline;

        &:nth-child(4) {
            width: 100%;
            text-align: left;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            cursor: pointer;
        }
    }
}


.page_box{
    padding: 1rem;
    margin: 0 auto;
}


div.btnLine {

    button {
        margin-left: 0;
    }

    .writing {
        margin-left: auto;
    }
}


#pop_add {

    display: none;

    .popText {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        h3{
            padding: 8px 0;
        }

        select {
            margin-top: 6px;
            padding: 7px;
            outline: 0;
            border: 1px solid #dedede;
        }

        label{
            background: #6d6464;
            padding: 5px 10px;
            color: #fff;
            margin-top: 5px;
            display: inline-block;
        }

        input.upload-name {
           padding: 4px;
           outline: 0;
           border: 1px solid #dedede;
           width: calc(100% - 80px);

        }

        input[type=file] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
        }

        .edit {
            height: 350px;
            border: 1px solid #999;
            margin-top: 5px;
        }

        button {
            margin-top: 5px;
            padding: 5px 10px;
            background-color: #6d6464;
            outline: 0;
            border: 0;
            color: #fff;
            cursor: pointer;
        }
    }
}