.mainArea_table {
	width: 100%;
}
.mainArea_table th {
	border: 1px solid #dedede;
	padding: 10px 8px;
}
.mainArea_table th:nth-child(1) {
	width: 5%;
}
.mainArea_table th:nth-child(2) {
	width: 8%;
}
.mainArea_table th:nth-child(3) {
	width: 10%;
}
.mainArea_table th:nth-child(4) {
	width: 47%;
}
.mainArea_table th:nth-child(5) {
	width: 15%;
}
.mainArea_table th:nth-child(6) {
	width: 15%;
}
.mainArea_table tbody tr {
	border-bottom: 1px solid #dedede;
}
.mainArea_table td {
	text-align: center;
	padding: 20px 5px 0px;
	margin-bottom: 15px;
	vertical-align: baseline;
}
.mainArea_table td:nth-child(4) {
	width: 100%;
	text-align: left;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	cursor: pointer;
}

.boardPage {
	position: absolute;
	bottom: 30px;
	text-align: center;
	padding: 10px 5px;
	cursor: pointer;
}
.boardPage .btn_group {
	display: flex;
}
.boardPage .btn_group a {
	margin-right: 5px;
}

#pop_add .popText {
	width: 50vw;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
#pop_add .popText select {
	margin-top: 6px;
	padding: 5px;
}
#pop_add .popText input {
	margin-top: 5px;
}
#pop_add .popText .edit {
	height: 350px;
	border: 1px solid #999;
	margin-top: 5px;
}
#pop_add .popText button {
	margin-top: 5px;
	padding: 5px 10px;
	background-color: #6d6464;
	outline: 0;
	border: 0;
	color: #fff;
}