/* layout */

.top_cls{
  justify-content: left;
  margin-bottom:0;
}

.top_cls li:first-child select{
  margin-left:0;
}
.top_cls li select{
  background: #fff;
  border:1px solid #444;
}

.top_cls li select.cls02{
  width:5rem;
}




/* btnLine */

.btnLine{
  display:flex;
  padding-left:1rem;
}

/* mainArea */




li.eachProd {
  flex-basis: calc((100% - 9vw) / 3);
    position: relative;
    margin-bottom: 1.2rem;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    max-width: calc((100% - 9vw) / 3);
}

li.eachProd ul.exhibit{
  position:absolute;
  top:.5rem;
  left:.5rem;
  z-index: 10;
  text-align: center;
  box-shadow: 3px 3px 14px;
}

li.eachProd ul.exhibit li{
  padding:.2rem .2rem 0 .2rem;
  background:rgba(255,255,255,.9);
  color:#444;
  width:3rem;
}

li.eachProd ul.exhibit li:last-child{
  display:none;
}

li.eachProd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #cec8c8;
  position:absolute;
}

#imgViewArea {
  position: relative;
  width:100%;
  padding-bottom:75%;
}



article.prodBtm {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  align-items: center;
  flex-wrap:wrap;
}

.prodBtm select {
  PADDING: 0.1rem 0.2rem;
  width: 6rem;
  outline: 0;
}

.prodBtm label{
  width:40%;
  flex-grow:0;
  padding:.2rem .2rem .1rem .2rem;
  background:#6d6464;
  color:#fff;
  text-align:center;
  overflow:hidden;
}



.prodBtm span {
  flex-grow: 0;
  background: transparent;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color:#444;
}

.prodBtm span.prodName{
  width:100%;
  /* background:#efefef; */
  padding:.2rem 0;
  margin-bottom:.3rem;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.prodBtm span.prodCost{
  width:calc(60% - 0.3rem);
  text-align:right;
  padding:.2rem .2rem .1rem .2rem;
  background:#efefef;
}

.prodBtm span.prodCost:after{
  content:'원';
  display:inline-block;
  margin-left:.1rem;
}

#btnBox {
  display: flex;
  justify-content: flex-end;
}


#pop_add{
  position:fixed;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,.5);
  display:none;
}

#pop_add .popText{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background:#fff;
  padding:1rem;
  width:30rem;
}

#pop_add #pre_imgView{
  position: relative;
  width:100%;
  margin-bottom:1rem;
  overflow:hidden;
  width:100%;
  height:30vh;
}

#pop_add #pre_imgView img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #cec8c8;
}

#pop_add input, #pop_add select{
  width:32%;
  height: 2rem;
}

#pop_add #btnBox input{
  height:1rem;
}

#pop_add .btnLine{
  display:flex;
}

#pop_add #btnBox{
  margin-top:1rem;
  justify-content: right;
  border-top: 1px solid #dedede;
  padding-top: 1rem;
}

#pop_add #btnBox li:first-child{
  display:flex;
  width:45%;
  align-items: center;
  margin-right: auto;
}

#pop_add #btnBox li:first-child input{
  width:50%;
}

#pop_add #btnBox button{
  margin-left:.5rem;
  padding: 0.5rem 2rem 0.4rem 2rem;
  font-size: 1.1rem;
  font-family: 'AG_L';
  BORDER: 0;
  background: #6d6464;
  color: #fff;
  cursor: pointer;
  margin-left: 0.5rem;
}

input[type="file"] {
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

label.findImg {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  cursor: pointer;
  padding: .5rem .6rem .25rem .6rem;
  background: #6d6464;
  color: #fff;
}
